VITE_SITE_URL=https://my-fishdom-game.vercel.app
VITE_CHAIN_ID=8453
VITE_CHECK_IN_CONTRACT_ADDRESS=0x514Dae070E72FbbC13Dc6Df3A66591489252c262
VITE_BUILDER_CODE=bc_uhxac39c
# VITE_BUILDER_CODE_SUFFIX=0x...
# VITE_WALLETCONNECT_PROJECT_ID=
